.Card-Container{
    width: 250px;
    margin-bottom : 40px;
    cursor: pointer;
    gap: 10px;
}
.Card-Img{
    width: 100%;
    height: 160px;
    background-color: #999;
}
.Card-Details{
    display: flex;
    margin-top: 15px;
    gap: 12px;
}

.Channel-Img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
}
.Card-Texts{
    font-family: 'Roboto', sans-serif;
  
}

.Card-Title{
    font-size: 16px;
    font-weight: 500px;
    color: #aaaaaa;
}
.Card-ChannelName{
    font-size: 14px;
    color: #aaaaaa;
    margin: 9px 0px;
}
.Card-Info{
    font-size:14px ;
    color: #aaaaaa;
}