.Menu-Container {
  flex: 1;
  background-color: #202020;
  height: 100vh;
  color: white;
  font-size: 14px;
  position: sticky;
  top: 0px;
}

.Menu-Wrapper {
  padding: 18px 26px;
}

.Menu-Logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  margin-bottom: 25px;
}

.Menu-Img {
  height: 25px;
}

.Menu-Item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 9px 0px;
}

.Menu-Hr {
  margin: 15px 0px;
  border: 0.5px solid #373737;
}

.Menu-Button {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

