.Navbar-Container {
  position: sticky;
  top: 0px;
  background-color: #181818;
  height: 55px;
}
.Navbar-Wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  padding: 0px 20px;
  color: white;
}
.Navbar-Search {
  position: absolute;
  width: 40%;
  left: 0px;
  right: 0px;
  margin: auto;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
   
}

/* outline none is to avoid the border displayed when touched */


.Navbar-Input {
  border: none;
  background-color: transparent;
  width: 94%;
  outline: none;
  color: #aaaaaa;
}

.Navbar-Button {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
