.Video-Container{
display: flex;

gap: 24px;
    
background-color: red;


}
.Video-Content{
    flex: 7;
    color: #aaaaaa;
    margin-left: 20px;
    background-color: honeydew;
   
}
.Video-Recommodation{
flex: 4;
color: #aaaaaa;
}

.Video-Wrapper{
width: 100% ;
}
.Video-Title{
font-size: 18px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 10px;
color: #aaaaaa;
}
.Video-Details{
display: flex;
align-items: center;
justify-content: space-between;
}

.Video-Info{
    color: #aaaaaa;
}

.Video-Buttons{
display: flex;
gap: 20px;
}
.Video-Button{
 /* margin: 0px; */
 display: flex;
 align-items: center;
 gap: 5px;
 cursor: pointer;
}
.Video-Hr{
    border: 0.5px solid #373737;
    margin: 15px 0px;
}
.Video-Channel{
    display: flex;
    justify-content: space-between;
}

.Video-ChannelSubscribe{
background-color : red;
font-weight: 500;
color: white;
border: none;
border-radius: 3px;
height: max-content;
padding: 10px 20px;
cursor: pointer;

}

.Video-ChannelInfo{
    display: flex;
    gap: 20px;
    }
.Video-ChannelDetail{
 display: flex;
 flex-direction: column;
 color: #aaaaaa;
}
.Video-ChannelName{
font-weight: 500;
}
.Video-ChannelImg{
width: 40px;
height: 40px;
border-radius: 50%;

}
.Video-ChannelCounter{
    margin-top: 5px;
    margin-bottom: 20px;
    color: #aaaaaa;
    font-size: 12px;   
}
.Video-ChannelDescription{
 font-size: 14px;
 color: #aaaaaa;
}
