.Comments-Container{

}
.Comments-New{
    display: flex;
    align-items: center;
    gap: 15px;
}
.Comments-Avatar{
width: 40px;
height: 40px;
border-radius: 50%;
}
.Comments-Input{
border: none;
border-bottom: 1px solid #aaaaaa;
background-color: transparent;
outline: none;
padding: 5px;
width: 100%;
color: #aaaaaa;

}