.Login-Container{
    color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
    /* width: 300px; */
}
.Login-Wrapper{
    color: #aaaaaa;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #202020;
    padding: 20px 50px;
    gap: 10px;
}
.Login-Title{
font-size: 24px;
margin-bottom: 0px;

}
.Login-SubTitle{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
}
.Login-Input{
    border: 1px solid #373737;
    border-radius: 3px;
    background-color: transparent;
    height: 30px;
    margin-bottom: 15px;
    outline: none;
    color: #aaaaaa;

}
.Login-Button{
    background-color : red;
font-weight: 500;
color: white;
border: none;
border-radius: 3px;
height: max-content;
padding: 10px 20px;
cursor: pointer;
}

.Login-Signup{
    color:  red;
    cursor: pointer;
}